@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 2em;
  color: #777;
}
